<style>
    .bx-wrapper .bx-pager.bx-default-pager a, .bx-wrapper .bx-controls-direction a{
        display: none;
    }
</style>
<section class="slider">
    <div class="bxslider">
        <div class="itemm">
            <img src="images/slider1.jpg" width="100%"/>
            <p class="parrafoSlider"><strong>Fabricantes de <br>Malla Electrosoldada</strong></p>
        </div>
        <div class="itemm">
            <img src="images/slider2.jpg" width="100%"/>
            <p class="parrafoSlider"><strong>Electricos Especializados<br>Siempre Atentos</strong></p>
        </div>
        <div class="itemm">
            <img src="images/slider3.jpg" width="100%"/>
            <p class="parrafoSlider"><strong>Los mejores produstos de la industria a tú servicio</strong></p>
        </div>
    </div>
</section>
<section class="Aproductos">
    <strong class="titulos">Algunos de Nuestros Productos</strong><br>
    <div id="owl-demo">
        <div class="item">
            <img src="images/imgProducHome/p1.jpg" class="img-circle">
        </div>
        <div class="item"><img src="images/imgProducHome/p2.jpg" class="img-circle"></div>
        <div class="item"><img src="images/imgProducHome/p3.jpg" class="img-circle"></div>
        <div class="item"><img src="images/imgProducHome/p4.jpg" class="img-circle"></div>
        <div class="item"><img src="images/imgProducHome/p1.jpg" class="img-circle"></div>
        <div class="item"><img src="images/imgProducHome/p2.jpg" class="img-circle"></div>
        <div class="item"><img src="images/imgProducHome/p3.jpg" class="img-circle"></div>
        <div class="item"><img src="images/imgProducHome/p4.jpg" class="img-circle"></div>
    </div>
</section>
<section class="malla">
    <div class="opaco">
        <p><strong>Los mejores productores de Malla Electrosoldada</strong></p>
    </div>
</section>
<section class="porQue">
    <img src="images/ex.png" class="img-responsive">
    <div class="texto">
        <h1>¿Por qué Nuestra Empresa es una Buena Elección?</h1>
        <p>
            Eléctricos Especializados Ltda. tiene necesidad 
            de formalizar el plan de marketing porque cuenta 
            con un excelente portafolio de servicios y productos 
            de alta calidad, que le puedendar un mayor 
            reconocimiento a nivel regional.
        </p>
    </div>
</section>
<section class="portafolio">
    <strong class="titulos">Nuestro Portafolio</strong><br><br>
    <table class="tablaPortafolio">
        <tr>
            <td class="titulosTabla" valign="top"><strong class="tituloTabla">Comercialización:</strong></td>
            <td class="parrafosTabla">
                <p class="parrafoTabla">
                    Compra y venta de diferentes tipos de productos
                    eléctricos y electrónicos, que son utilizados en 
                    diversos procesos industriales y residenciales.
                </p>
            </td>
        </tr>
        <tr>
            <td class="titulosTabla" valign="top"><strong class="tituloTabla">Automatización:</strong></td>
            <td class="parrafosTabla">
                <p class="parrafoTabla">
                    Estos montajes se utilizan en la tecnificación y 
                    obtimización de líneas de produccion de procesos
                    industriales.
                </p>
            </td>
        </tr>
        <tr>
            <td class="titulosTabla" valign="top"><strong class="tituloTabla">Comercio Internacional:</strong></td>
            <td class="parrafosTabla">
                <p class="parrafoTabla"></p>
                <ul class="parrafoTabla">
                    <li>
                        <strong>Importación:</strong> Diversos productos a precios competitivos.
                    </li>
                    <li>
                        <strong>Exportación:</strong> Despachamos al exterior productos 
                        descontinuados que no son usados en el pais pero que en otras
                        partes son aprovechados.
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="titulosTabla" valign="top"><strong class="tituloTabla">Reciclaje:</strong></td>
            <td class="parrafosTabla">
                <p class="parrafoTabla">
                    Se reciclan partes electrónicas, de equipos de
                    telecominicación para extraer partículas de oro.
                </p>
            </td>
        </tr>
        <tr>
            <td class="titulosTabla" valign="top"><strong class="tituloTabla">Producción:</strong></td>
            <td class="parrafosTabla">
                <p class="parrafoTabla">
                    Se implementa malla electro soldada para construcción
                    y cerramiento agrícola ganadera galvanizada innovando
                    en este producto.
                </p>
            </td>
        </tr>
    </table>
</section>
<section class="contactenos">
    <strong class="titulos">Contáctenos</strong><br>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.91213479331375!2d-76.46830169175588!3d3.448422017335011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x252a3366a5b337a1!2sEl%C3%A9ctricos+Especializados+Ltda.!5e0!3m2!1ses!2sco!4v1437259877441" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="formu">
        <div class="parra">
            <p>Dirección: Calle 94 # 8B-512</p>
            <p>Barrio: Juanchito vía Cali Candelaria</p>
            <p>Teléfono: 889-38-01 / 656-15-29</p>
            <p>E-mail: info@electricosespecializados.com</p>
        </div>
        <form>
            <table style="border-collapse: separate; border-spacing: 15pt;">
                <tr>
                    <td><input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre:" required></td>
                    <td><input type="text" class="form-control" id="exampleInputEmail1" placeholder="Telefono:" required></td>
                    <td><input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail" required></td>
                </tr>
                <tr>
                    <td colspan="3"><textarea class="form-control" rows="5" placeholder="Mensaje:" required></textarea></td>
                </tr>
                <tr>
                    <td colspan="3"><button class="btn btn-primary" style="float: right;">Enviar</button></td>
                </tr>
            </table>
        </form>
    </div>
</section>
