    <div class="parent-container">
        <a href="images/malla.jpg?id=1" title='Ejemplo'><img class="img-rounded" src="images/malla.jpg" width="300"></a>
        <a href="images/icono.png">Open popup 2</a>
        <a href="images/ex.png">Open popup 3</a>
    </div>
    <a href="#/imagenes?id=1" data-toggle="modal" data-target=".fieltros">hola</a>
    <div class="imagenesPop">
        <div class="bacPop"></div>
        <img>
    </div>

<div class="modal fade fieltros" role="dialog" aria-labelledby="myLargeModalLabel">
    
</div>