<div class="quienesSomos flexColumCenter">
    <strong class="titulos">Nuestra Historia</strong>
    <p>
        En 1988, Jairo García Gaitán, un hombre visionario del Valle del Cauca,
        empezó a desarrollar su objetivo laboral. Jairo trabajó incansablemente para 
        fundar una empresa llamada ELECTRICOS UNIDOS junto con un compañero 
        del colegio; esta empresa fue la base en donde obtuvo experiencia en el área 
        de montajes electromecánicos, logrando nuevas oportunidades laborales por 
        medio de un clasificado en donde una gran empresa SN INDUSTRIAL le 
        solicito que le prestara los servicios, obteniendo así una nueva oportunidad de 
        trabajo y poder tener más experiencia en el campo laboral en el cual se 
        desempeñaba. Finalmente su socio de la empresa actual se retiró en 1990, don 
        Jairo continúo con la empresa y su sueño 5 años más; en 1995 Jairo García 
        Gaitán decidió terminar la empresa.
    </p>
    <p>
        En el mismo año la empresa ALFA TECNICA S.A, le ofreció trabajo con un 
        cargo de licitador industrial, allí don Jairo adquirió conocimientos sobre el 
        campo de comercialización  de productos eléctricos para la automatización 
        industrial; Jairo se retiró a los dos años ya que él veía que la experiencia y 
        sabiduría eran los factores que movían las empresas en donde había trabajado 
        y tomo la decisión de trabajar por su propia cuenta.
    </p>
    <p>
        En 1998 fundó la empresa SEC AUTOMATIZAMOS (Sensores, equipos y  
        controles) Ltda., con la cual  duro 3 años; está empresa era una sociedad 
        familiar y no dio los resultados esperados.
    </p>
    <p>
        En el año 2001 funda la empresa ELECTRICOS ESPECIALIZADOS LTDA, con 
        dos socios más. En el año 2008 los dos socios de Jairo deciden ceder su 
        participación en la empresa a la Sra. Betty Rengifo esposa de Jairo García, 
        convirtiéndose en una empresa familiar hasta la actualidad.
    </p>
    <p>
        Jairo piensa que esta decisión fue una de las mejores que pudo haber tomado, 
        ya que antes de esto, la empresa no estaba muy bien organizada; la Sra. Betty 
        le dio un nuevo enfoque organizacional e involucro a sus hijos activamente en 
        el funcionamiento de la compañía; ahora los hijos se están capacitando en 
        instituciones de educación superior, con el fin de darle mayor crecimiento y 
        sostenibilidad en el tiempo, buscando nuevos mercados y proyectándose a 
        nivel internacional.
    </p>
</div>
<div class="misionVision">
    <div class="mision flexColumCenter">
        <div class="titulos"><strong>Misión</strong></div>
        <p>
            ELÉCTRICOS ESPECIALIZADOS LTDA, es una empresa de distribución, 
            comercialización y automatización de productos eléctricos industriales; 
            que satisface las necesidades y expectativas de los clientes, suministrando 
            soluciones integrales en productos y servicios en el campo industrial; para ello 
            contamos con talento humano calificado, comprometido y con un alto sentido de responsabilidad 
            social empre sarial.
        </p>
    </div><br>
    <div class="vision flexColumCenter">
        <div class="titulos"><strong>Visión</strong></div>
        <p>
            Ser en el 2020 una empresa líder a nivel nacional en la distribución y 
            comercialización de productos eléctricos y en la automatización de 
            maquinaria eléctrica en el campo industrial, con procesos certificados 
            que permitan la entera satisfacción de nuestros clientes y minimice el impacto 
            ambiental de sus procesos.
        </p>
    </div>
</div>
<div class="valores flexColumCenter">
    <strong class="titulos">Principios y Valores</strong>
    <ul>
        <li>
            <p><strong>Liderazgo: </strong>Permitimos que nuestros empleados se sientan
            seguros en el negocio, en el cual somos líderes, en asesoría y 
            soporte técnico a nuestros clientes buscando maximizar su
            potencial.</p>
        </li>
        <li>
            <p><strong>Excelencia: </strong>Buscamos constantemente nuestro mejoramiento
            continuo.</p>
        </li>
        <li>
            <p><strong>Honestidad: </strong>realizamos todas las operaciones con
            transparencia y rectitud.</p>
        </li>
        <li>
            <p><strong>Responsabilidad: </strong>Obramos con seriedad, esa es nuestra
            mejor carta de presentación.</p>
        </li>
        <li>
            <p><strong>Respeto: </strong>Escuchamos, entendemos y valoramos al otro,
            buscando armonía en las relaciones interpersonales, laborales y 
            comerciales.</p>
        </li>
        <li>
            <p><strong>Confianza: </strong>Cumplimos con lo prometido al ofrecer los mejores
            productos y servicios a un precio justo y razonable.</p>
        </li>
        <li>
            <p><strong>Trabajo: </strong>Con el aporte de todos los que intervienen en los
            diferentes procesos, buscamos el logro de los objetivos 
            organizacionales.</p>
        </li>
        <li>
            <p><strong>Innovación: </strong>poseemos la habilidad de creación y mejora de
            productos y procesos de nuestros clientes.</p>
        </li>
    </ul>
</div>